/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background: linear-gradient(45deg, red, black, white);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}

/* Moving gradient animation */
@keyframes gradientMove {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Main dashboard container */
.dashboard {
  width: 80%;
  margin: auto;
  padding: 30px;
}

/* Header */
.header {
  background-color: #ef3472;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header:hover {
  background-color: #d82b6b;
}

.logo {
  width: 50px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

/* Button Styles */
button {
  background-color: #f33131;
  text-align: center;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d82b6b;
}

/* Section Styles */
section {
  margin: 20px 0;
  padding: 20px;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

section:hover {
  background-color: #333;
}

h2 {
  color: #f33131;
  font-size: 2rem;
  font-weight: 700;
}

h2:hover {
  color: #ff6a00;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

/* Video Container */
.video-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.video-container:hover {
  transform: scale(1.05);
}

video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Top Creator Section */
.creator {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}

.creator p {
  margin: 10px 0;
}

/* Links */
a {
  color: #276971;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: aqua;
}